#no-landscape {
    display: none;
}

@media screen and (orientation: landscape) {
    #no-landscape {
        position:absolute;
        z-index: 50;
        height:100vh;
        background-color: var(--yellow);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        font-size: 32px;
    }
    #no-mobile {
        display: none;
    }
}